<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = '../../data/120-years-of-olympic-history-athletes-and-results/athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

## __1. How old were the youngest male and female participants of the 1996 Olympics?__

- 14 and 12

In [4]:
data[(data['Sex'] == 'M') & (data['Year'] == 1996)]['Age'].min()

14.0

In [5]:
data[(data['Sex'] == 'F') & (data['Year'] == 1996)]['Age'].min()

12.0

## __2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 1.5

In [6]:
data_males_2000 = data[(data['Year'] == 2000) & (data['Sex'] == 'M')].drop_duplicates('ID')

In [7]:
sports = data_males_2000.groupby(['Sport']).size()
sports

Sport
Archery                64
Athletics            1257
Badminton              86
Baseball              192
Basketball            144
Beach Volleyball       48
Boxing                307
Canoeing              249
Cycling               341
Diving                 80
Equestrianism         128
Fencing               134
Football              267
Gymnastics             97
Handball              177
Hockey                191
Judo                  237
Modern Pentathlon      24
Rowing                363
Sailing               307
Shooting              262
Swimming              558
Table Tennis           86
Taekwondo              54
Tennis                 93
Trampolining           12
Triathlon              52
Volleyball            141
Water Polo            153
Weightlifting         161
Wrestling             314
dtype: int64

In [8]:
print(
    'Percentage of male gymnasts among all the male participants of the 2000 Olympics:', 
    round(sports['Gymnastics'] * 100 / sports.sum(), 1)
)

Percentage of male gymnasts among all the male participants of the 2000 Olympics: 1.5

### Checking for elements belonging to more than one group

When I dropped duplicates, maybe I threw away the gymnast role of some males!

Let me check if there are males competing in more than one sport.

In [9]:
data_males_2000_with_dup = data[(data['Year'] == 2000) & (data['Sex'] == 'M')][['ID', 'Sport']]

In [10]:
data_gymnasts = data_males_2000_with_dup[data_males_2000_with_dup['Sport'] == 'Gymnastics'].drop_duplicates('ID')
data_gymnasts['Source'] = 1
data_nongym = data_males_2000_with_dup[data_males_2000_with_dup['Sport'] != 'Gymnastics'].drop_duplicates('ID')
data_nongym['Source'] = 2
data_concat = data_gymnasts.append(data_nongym)
data_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6579 entries, 437 to 271108
Data columns (total 3 columns):
ID        6579 non-null int64
Sport     6579 non-null object
Source    6579 non-null int64
dtypes: int64(2), object(1)
memory usage: 205.6+ KB

In [11]:
data_concat = data_concat.drop_duplicates('ID')
data_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6579 entries, 437 to 271108
Data columns (total 3 columns):
ID        6579 non-null int64
Sport     6579 non-null object
Source    6579 non-null int64
dtypes: int64(2), object(1)
memory usage: 205.6+ KB

There are no athletes that participate in gymnastics and in other sports at the same time, so my answer was correct.

## __3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 182.4 and 9.1

In [12]:
data_female_2000_basketball = data[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Basketball')]
print('Mean:', round(data_female_2000_basketball['Height'].mean(), 1))
print('Std :', round(data_female_2000_basketball['Height'].std(), 1))

Mean: 182.4
Std : 9.1

## __4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Bobsleigh

In [13]:
data_2002 = data[data['Year'] == 2002]
max_weight = data_2002['Weight'].max()
data_2002[data_2002['Weight'] == max_weight].T

                      99154
ID                    50171
Name      Emmanuel Hostache
Sex                       M
Age                      26
Height                  190
Weight                  123
Team                 France
NOC                     FRA
Games           2002 Winter
Year                   2002
Season               Winter
City         Salt Lake City
Sport             Bobsleigh
Event   Bobsleigh Men's Two
Medal                   NaN

## __5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 3

In [14]:
len(data[data['Name'] == 'Pawe Abratkiewicz'].groupby('Year'))

3

## __6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 2

In [15]:
data[(data['Year'] == 2000) & (data['Sport'] == 'Tennis') & (data['NOC'] == 'AUS') & (data['Medal'] == 'Silver')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
262820,131504,Todd Andrew Woodbridge,M,29.0,178.0,75.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver
262831,131511,Mark Raymond Woodforde,M,34.0,183.0,80.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver

## __7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes

Find out codes for Switzerland and Serbia:

In [16]:
countries = data['NOC'].drop_duplicates().sort_values()
countries.where(countries.str.startswith('S')).dropna()

8155     SAA
1966     SAM
2801     SCG
7210     SEN
1348     SEY
578      SGP
1442     SKN
2822     SLE
959      SLO
6095     SMR
6467     SOL
806      SOM
4415     SRB
749      SRI
91746    SSD
12580    STP
162      SUD
663      SUI
1625     SUR
4941     SVK
725      SWE
21229    SWZ
510      SYR
Name: NOC, dtype: object

In [17]:
switzlerland = data[(data['Year'] == 2016) & (data['NOC'] == 'SUI')]['Medal'].dropna()
print(switzlerland)
print('Number of medals for SUI:', len(switzlerland))

12203     Silver
34650       Gold
55506     Bronze
87541       Gold
96184     Silver
171349      Gold
214624      Gold
214640      Gold
226623    Silver
228654    Bronze
242890      Gold
Name: Medal, dtype: object
Number of medals for SUI: 11

In [18]:
serbia = data[(data['Year'] == 2016) & (data['NOC'] == 'SRB')]['Medal'].dropna()
print(serbia)
print('Number of medals for SRB:', len(serbia))

4417        Gold
22125     Silver
24291     Silver
24293     Silver
26421     Silver
28128     Silver
32655     Silver
32993     Bronze
37364     Bronze
46628     Bronze
47046       Gold
48048     Bronze
48051     Bronze
69320       Gold
80619       Gold
105631      Gold
109857    Silver
110799    Bronze
110813    Silver
112292    Silver
127338    Bronze
145761    Silver
147525    Silver
148153      Gold
149953    Silver
158496    Silver
159475    Bronze
160387      Gold
160390      Gold
169148    Silver
171522      Gold
171690    Silver
175460    Silver
180171    Bronze
187358    Bronze
188763      Gold
188765      Gold
191637    Silver
193402      Gold
195573    Bronze
195659    Silver
197025      Gold
197152    Silver
220684    Silver
226165    Bronze
227590    Bronze
228242      Gold
229162    Silver
229531    Silver
237648    Silver
241429    Silver
251194    Silver
270111    Silver
270370    Silver
Name: Medal, dtype: object
Number of medals for SRB: 54

## __8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly

In [19]:
o2014 = data[data['Year'] == 2014].drop_duplicates('ID')
o2014_age = o2014['Age']
bins = pd.interval_range(start=15, end=55, freq=10, closed='left')
pd.cut(o2014_age, bins).value_counts().sort_index()

[15, 25)    1193
[25, 35)    1397
[35, 45)     150
[45, 55)       4
Name: Age, dtype: int64

## __9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- No, Yes

In [20]:
data[(data['City'] == 'Lake Placid') & (data['Season'] == 'Summer')]['City'].nunique()

0

In [21]:
data[(data['City'] == 'Sankt Moritz') & (data['Season'] == 'Winter')]['City'].nunique()

1

## __10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 34

In [22]:
data[data['Year'] == 2016]['Sport'].nunique()

34

There were no Olympic games in 1995, so 34 is the answer.