<center>
<img src="../../img/ods_stickers.jpg">
## Open Machine Learning Course
<center>Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/), Data Scientist @ Mail.Ru Group <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data â€“ it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('../../data/adult.data.csv')
data.head().T

,0,1,2,3,4
age,39,50,38,53,28
workclass,State-gov,Self-emp-not-inc,Private,Private,Private
fnlwgt,77516,83311,215646,234721,338409
education,Bachelors,Bachelors,HS-grad,11th,Bachelors
education-num,13,13,9,7,13
marital-status,Never-married,Married-civ-spouse,Divorced,Married-civ-spouse,Married-civ-spouse
occupation,Adm-clerical,Exec-managerial,Handlers-cleaners,Handlers-cleaners,Prof-specialty
relationship,Not-in-family,Husband,Not-in-family,Husband,Wife
race,White,White,White,Black,Black
sex,Male,Male,Male,Male,Female
capital-gain,2174,0,0,0,0
capital-loss,0,0,0,0,0
hours-per-week,40,13,40,40,40
native-country,United-States,United-States,United-States,United-States,Cuba
salary,<=50K,<=50K,<=50K,<=50K,<=50K

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

## **1. How many men and women (*sex* feature) are represented in this dataset?**

In [4]:
data.groupby('sex').size()

sex
Female    10771
Male      21790
dtype: int64

## **2. What is the average age (*age* feature) of women?**

In [5]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

## **3. What is the percentage of German citizens (*native-country* feature)?**

In [6]:
ngermans = data.groupby('native-country').size()['Germany']
npeople = data.shape[0]
print('Germans:', ngermans)
print('Total  :', npeople)
print('Percentage of Germans:', round(100 * ngermans/npeople, 2))

Germans: 137
Total  : 32561
Percentage of Germans: 0.42

## **4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

### More than 50K:

In [7]:
data[data['salary'] == '>50K']['age'].describe()[['mean', 'std']]

mean    44.249841
std     10.519028
Name: age, dtype: float64

### Less than 50K:

In [8]:
data[data['salary'] == '<=50K']['age'].describe()[['mean', 'std']]

mean    36.783738
std     14.020088
Name: age, dtype: float64

## **6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [9]:
data.groupby('education').size()

education
10th              933
11th             1175
12th              433
1st-4th           168
5th-6th           333
7th-8th           646
9th               514
Assoc-acdm       1067
Assoc-voc        1382
Bachelors        5355
Doctorate         413
HS-grad         10501
Masters          1723
Preschool          51
Prof-school       576
Some-college     7291
dtype: int64

In [10]:
highed = [
    'HS-grad', 'Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate', 'Some-college'
]
have_highed = data[(data['salary'] == '>50K') & (data['education'].apply(lambda e: e in highed))].shape[0]
no_highed = data[(data['salary'] == '>50K') & (data['education'].apply(lambda e: e not in highed))].shape[0]
total = have_highed + no_highed
print('Have high school education:', have_highed, '-- percentage:', round(100 * have_highed/total, 2))
print('Don\'t have high school ed :', no_highed, '-- percentage:', round(100 * no_highed/total, 2))

Have high school education: 7597 -- percentage: 96.89
Don't have high school ed : 244 -- percentage: 3.11

## **7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [11]:
data.groupby(['race', 'sex'])['age'].describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [12]:
data.groupby(['race', 'sex'])['age'].describe().loc[('Amer-Indian-Eskimo', 'Male')]['max']

82.0

## **8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [13]:
def is_married(ms):
    return ms.startswith('Married')

data['is-married'] = data['marital-status'].apply(is_married)

### One way

In [14]:
pd.crosstab(data['is-married'], data['salary'], margins=True, normalize=True)

salary         <=50K      >50K       All
is-married
False       0.492583  0.033936  0.526519
True        0.266607  0.206873  0.473481
All         0.759190  0.240810  1.000000

__Married people!__

* Only 6% of single people make >50K.

* About 44% of married people make >50K.

### Another (_better_) way

In [15]:
m = data[data['is-married']].shape[0]
p = data[data['is-married']].groupby('salary').size() 
print('Married people:\n', round(100 * p/m, 1))

Married people:
 salary
<=50K    56.3
>50K     43.7
dtype: float64

In [16]:
m = data[data['is-married'] == False].shape[0]
p = data[data['is-married'] == False].groupby('salary').size() 
print('Single people:\n', round(100 * p/m, 1))

Single people:
 salary
<=50K    93.6
>50K      6.4
dtype: float64

### And another, not calculating percentages manually

The idea is to select the subset of interest and then use `pd.crosstab` with only one column!

In [17]:
m = data[data['is-married']]
pd.crosstab(m['salary'], m['is-married'], margins=False, normalize=True)

is-married     True
salary
<=50K       0.56308
>50K        0.43692

In [18]:
m = data[data['is-married'] == False]
pd.crosstab(m['salary'], m['is-married'], margins=False, normalize=True)

is-married     False
salary
<=50K       0.935546
>50K        0.064454

## **9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

Again, the idea of selecting the subset of interest and then using `pd.crosstab` with only one column!

In [19]:
m = data['hours-per-week'].max()
print('Max number of hours worked per week:', m)

n = data[data['hours-per-week'] == m].shape[0]
print('Number of people who work this much:', n)

hard_workers = data[data['hours-per-week'] == m] 
ct = pd.crosstab(hard_workers['salary'], hard_workers['hours-per-week'], margins=False, normalize=True)
print('\nPercentage who earn a lot:\n\n', ct)

Max number of hours worked per week: 99
Number of people who work this much: 85

Percentage who earn a lot:

 hours-per-week        99
salary
<=50K           0.705882
>50K            0.294118

## **10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

This should be faster, because I am calculating the mean over one column only.

In [20]:
%%time
at = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()

CPU times: user 5.21 ms, sys: 107 Âµs, total: 5.32 ms
Wall time: 5.04 ms

In [21]:
at['Japan']

salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64

This should be slower, because I am calculating the mean over all columns.

In [22]:
%%time
g = data.groupby(['native-country', 'salary']).mean()

CPU times: user 14.1 ms, sys: 182 Âµs, total: 14.3 ms
Wall time: 13.6 ms

In [23]:
g.loc['Japan']['hours-per-week']

salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64